<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/general-styles.css">
        <link rel="stylesheet" href="../static/styles/search.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../static/scripts/hamburger.js"></script>
        <script src="../static/scripts/search_appointments.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="nav">
            <nav class="mobile-nav">
                <div id="menu-links">
                    <a href="http://127.0.0.1:5000/accounts/schedule"><p>Schedule</p></a>
                    {% if position == 'Admin' %}
                        <a href="http://127.0.0.1:5000/accounts/users"><p>User</p></a>
                    {% endif %}
                    {% if position in ['Admin', 'Doctor'] %}
                        <a href="http://127.0.0.1:5000/accounts/medical_records"><p>Medical Records</p></a>
                    {% endif %}
                    <a href="http://127.0.0.1:5000/accounts/appointments"><p>Appointments</p></a>
                    {% if position in ['Doctor'] %}
                        <a href="http://127.0.0.1:5000/accounts/consultations"><p>Consult</p></a>
                    {% endif %}
                    <a href="http://127.0.0.1:5000/logout" class="logout"><p>Logout</p></a>
                </div>

                <a class="menu-icon">
                    <div>&#9776;</div>
                </a>
            </nav>
            <nav class="desktop">
                <img src="../static/images/icons-user.png" alt="">
                <h3>{{ position }}</h3>
                <a href="http://127.0.0.1:5000/accounts/schedule"><p>Schedule</p></a>
                {% if position == 'Admin' %}
                    <a href="http://127.0.0.1:5000/accounts/users"><p>User</p></a>
                {% endif %}
                {% if position in ['Admin', 'Doctor'] %}
                    <a href="http://127.0.0.1:5000/accounts/medical_records"><p>Medical Records</p></a>
                {% endif %}
                <a href="http://127.0.0.1:5000/accounts/appointments"><p>Appointments</p></a>
                {% if position in ['Doctor'] %}
                    <a href="http://127.0.0.1:5000/accounts/consultations"><p>Consult</p></a>
                {% endif %}
            </nav>
        </div>
        <div id="head">
            <header>
                <p id="user-info">{{ first_name }} {{ last_name }}&#9662;</p>
                <a href="http://127.0.0.1:5000/logout" id="logout-btn" style="display: none;">Logout</a>
            </header>
            <main>
                <div id="first-half">
                    <h1>Appointments</h1>
                    <div id="search">
                        <form class="example">
                            <input id="search_string" type="text" placeholder="Search..." name="search">
                            <button id="medical"type="button"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div id="table">
                        <table id="tables" class="content-table">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Start time</th>
                            <th>End time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if position == 'Doctor' %}
                                {% for appointment in appointments %}
                                    {% if appointment.confirmed == 'true' %}
                                        <tr id="{{ appointment.id }}" class="records">
                                            <td>{{ appointment.first_name }}</td>
                                            <td>{{ appointment.last_name }}</td>
                                            <td>{{ appointment.doctor }}</td>
                                            <td>{{ appointment.date }}</td>
                                            <td>{{ appointment.start_time }}</td>
                                            <td>{{ appointment.end_time }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                        </table>
                    </div>
                </div>
                <div id="second-half">
                    {% if position in ['Doctor'] %}
                        <h1>Medical history</h1>
                        <a class="back-button" href="#">Back</a>
                        <div class="medical_history">
                            <div class="date"><p></p></div>
                            <table class="content-table" style="margin-top: 0; display: none;">
                                <tr>
                                    <td>Name</td>
                                    <td class="rows"></td>
                                </tr>
                                <tr>
                                    <td>Surname</td>
                                    <td class="rows"></td>
                                </tr>
                                <tr>
                                    <td>Doctor</td>
                                    <td class="rows"></td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td class="rows"></td>
                                </tr>
                                <tr>
                                    <td>Age</td>
                                    <td class="rows"></td>
                                </tr>
                                <tr>
                                    <td>Symptoms</td>
                                    <td class="rows"></td>
                                </tr>
                                <tr>
                                    <td>Diagnosis</td>
                                    <td class="rows"></td>
                                </tr>
                                <tr>
                                    <td>Prescription</td>
                                    <td class="rows"></td>
                                </tr>
                                <tr>
                                    <td>Dosage</td>
                                    <td class="rows"></td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </main>
        </div>
    </body>
</html>
