<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Medical Records</title>
        <link rel="stylesheet" href="../static/styles/general-styles.css">
        <link rel="stylesheet" href="../static/styles/search.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../static/scripts/search_medical.js"></script>
        <script src="../static/scripts/hamburger.js"></script>
	    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
	    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="nav">
            <nav class="mobile-nav">
                <div id="menu-links">
                    {% if position != 'Patient' %}
                        <a href="http://localhost/accounts/schedule"><p>Schedule</p></a>
                    {% endif %}
                    <a href="http://localhost/accounts/schedule"><p>Schedule</p></a>
                    {% if position == 'Admin' %}
                        <a href="http://localhost/accounts/users"><p>User</p></a>
                    {% endif %}
                    {% if position == 'Receptionist' %}
                        <a href="http://localhost/accounts/register_patient"><p>Register Patient</p></a>
                    {% endif %}
                    <a href="http://localhost/accounts/medical_records"><p>Medical Records</p></a>
                    <a href="http://localhost/accounts/appointments"><p>Appointments</p></a>
                    {% if position == 'Patient' %}
                        <a href="http://localhost/accounts/users"><p>Make Appointment</p></a>
                    {% endif %}
                    {% if position in ['Doctor'] %}
                        <a href="http://localhost/accounts/consultations"><p>Consult</p></a>
                    {% endif %}
                    <a href="http://localhost/logout" class="logout"><p>Logout</p></a>
                </div>

                <a class="menu-icon">
                    <div>&#9776;</div>
                </a>
            </nav>
            <nav class="desktop">
                <img src="../static/images/icons-user.png" alt="">
                <h3>{{ position }}</h3>
                {% if position != 'Patient' %}
                    <a href="http://localhost/accounts/schedule"><p>Schedule</p></a>
                {% endif %}
                {% if position == 'Admin' %}
                    <a href="http://localhost/accounts/users"><p>User</p></a>
                {% endif %}
                {% if position == 'Receptionist' %}
                    <a href="http://localhost/accounts/register_patient"><p>Register Patient</p></a>
                {% endif %}
                <a href="http://localhost/accounts/medical_records"><p>Medical Records</p></a>
                <a href="http://localhost/accounts/appointments"><p>Appointments</p></a>
                {% if position == 'Patient' %}
                    <a href="http://localhost/accounts/users"><p>Make Appointment</p></a>
                {% endif %}
                {% if position in ['Doctor'] %}
                    <a href="http://localhost/accounts/consultations"><p>Consultations</p></a>
                {% endif %}
            </nav>
        </div>
        <div id="head">
            <header>
                <p id="user-info">{{ first_name }} {{ last_name }}&#9662;</p>
                <a href="http://localhost/logout" id="logout-btn" style="display: none;">Logout</a>
                <script defer>
                    document.getElementById('user-info').addEventListener('click', () => {
                        let logout = document.getElementById('logout-btn');
                        if (logout.style.display == 'none') {
                            logout.style.display = 'block';
                        } else {
                            logout.style.display = 'none';
                        }
                    })
                </script>
            </header>
            <main>
                <div id="first-half">
                    <h1>Medical Records</h1>
                    {% if position == 'Patient' %}
                        <div id="search">
                            <form class="example">
                                <input id="search_string" style="display: none;" type="text" placeholder="Search..." name="search">
                                <button id="medical"type="button" style="display: none;" disabled><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    {% else %}
                        <div id="search">
                            <form class="example">
                                <input id="search_string" type="text" placeholder="Search..." name="search">
                                <button id="medical"type="button"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    {% endif %}
                    <div id="table">
                        <table id="tables" class="content-table">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Age</th>
                            <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% if position == 'Admin' %} 
                                {% for record in records %}
                                    <tr id="{{ record.id }}" class="records">
                                        <td>{{ record.first_name }}</td>
                                        <td>{{ record.last_name }}</td>
                                        <td>{{ record.doctor }}</td>
                                        <td>{{ record.date }}</td>
                                        <td>{{ record.age }}</td>
                                        <td>{{ record.gender }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if position == 'Doctor' %}
                                {% for record in records %}
                                    {% if id == record.doctor_id %}
                                        <tr id="{{ record.id }}" class="records">
                                            <td>{{ record.first_name }}</td>
                                            <td>{{ record.last_name }}</td>
                                            <td>{{ record.doctor }}</td>
                                            <td>{{ record.date }}</td>
                                            <td>{{ record.age }}</td>
                                            <td>{{ record.gender }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if position == 'Patient' %}
                                {% for record in records %}
                                    {% if id == record.patient_id %}
                                        <tr id="{{ record.id }}" class="records">
                                            <td>{{ record.first_name }}</td>
                                            <td>{{ record.last_name }}</td>
                                            <td>{{ record.doctor }}</td>
                                            <td>{{ record.date }}</td>
                                            <td>{{ record.age }}</td>
                                            <td>{{ record.gender }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                        </table>
                    </div>
                </div>
                <div id="second-half">
                    <h1>Medical Record</h1>
                    <a class="back-button" href="#">Back</a>
                    {% if position != 'Patient' %}
                        <a class="back-button" href="#">Delete Record</a>
                    {% endif %}
                    <table class="content-table">
                        <tr>
                            <td>Name</td>
                            <td class="rows"></td>
                        </tr>
                        <tr>
                            <td>Surname</td>
                            <td class="rows"></td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td class="rows"></td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td class="rows"></td>
                        </tr>
                        <tr>
                            <td>Symptoms</td>
                            <td class="rows"></td>
                        </tr>
                        <tr>
                            <td>Diagnosis</td>
                            <td class="rows"></td>
                        </tr>
                        <tr>
                            <td>Prescription</td>
                            <td class="rows"></td>
                        </tr>
                        <tr>
                            <td>Dosage</td>
                            <td class="rows"></td>
                        </tr>
                    </table>
                </div>
            </main>
        </div>
    </body>
</html>
