<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Register Patient</title>
        <link rel="stylesheet" href="../static/styles/general-styles.css">
        <link rel="stylesheet" href="../static/styles/search.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../static/scripts/hamburger.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
	    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    </head>
    <body>
        <div id="nav">
            <nav class="mobile-nav">
                <div id="menu-links">
                    <a href="https://www.healtheasehub.live/accounts/schedule"><p>Schedule</p></a>
                    {% if position == 'Admin' %}
                        <a href="https://www.healtheasehub.live/accounts/users"><p>User</p></a>
                    {% endif %}
                    <a href="https://www.healtheasehub.live/accounts/medical_records"><p>Medical Records</p></a>
                    <a href="https://www.healtheasehub.live/accounts/appointments"><p>Appointments</p></a>
                    {% if position == 'Receptionist' %}
                        <a href="https://www.healtheasehub.live/accounts/users"><p>Make Appointment</p></a>
                        <a href="https://www.healtheasehub.live/accounts/register_patient"><p>Register Patient</p></a>
                    {% endif %}
                    {% if position in ['Doctor'] %}
                        <a href="https://www.healtheasehub.live/accounts/consultations"><p>Consult</p></a>
                    {% endif %}
                    <a href="https://www.healtheasehub.live/logout" class="logout"><p>Logout</p></a>
                </div>

                <a class="menu-icon">
                    <div>&#9776;</div>
                </a>
            </nav>
            <nav class="desktop">
                <img src="../static/images/icons-user.png" alt="">
                <h3>{{ position }}</h3>
                <a href="https://www.healtheasehub.live/accounts/schedule"><p>Schedule</p></a>
                {% if position == 'Admin' %}
                    <a href="https://www.healtheasehub.live/accounts/users"><p>User</p></a>
                {% endif %}
                {% if position == 'Receptionist' %}
                    <a href="https://www.healtheasehub.live/accounts/users"><p>Make Appointment</p></a>
                    <a href="https://www.healtheasehub.live/accounts/register_patient"><p>Register Patient</p></a>
                {% endif %}
                {% if position == 'Doctor' or position == 'Admin' %}
                    <a href="https://www.healtheasehub.live/accounts/medical_records"><p>Medical Records</p></a>
                {% endif %}
                <a href="https://www.healtheasehub.live/accounts/appointments"><p>Appointments</p></a>
                {% if position in ['Doctor'] %}
                    <a href="https://www.healtheasehub.live/accounts/consultations"><p>Consultations</p></a>
                {% endif %}
            </nav>
        </div>
        <div id="head">
            <header>
                <p id="user-info">{{ first_name }} {{ last_name }}&#9662;</p>
                <a href="https://www.healtheasehub.live/logout" id="logout-btn" style="display: none;">Logout</a>
                <script defer>
                    document.getElementById('user-info').addEventListener('click', () => {
                        let logout = document.getElementById('logout-btn');
                        if (logout.style.display == 'none') {
                            logout.style.display = 'block';
                        } else {
                            logout.style.display = 'none';
                        }
                    })
                </script>
            </header>
            <main>
                <h1>Register New Patient</h1>
                <form action="https://www.healtheasehub.live/signup" method="post" id="register_patient">
                    <input type="submit" class="back-button">
                    <table class="content-table">
                        <tr>
                            <td>Name</td>
                            <td><input type="text" name="first_name" placeholder="Name" required></td>
                        </tr>
                        <tr>
                            <td>Surname</td>
                            <td><input type="text" name="last_name" placeholder="Surname" style="background-color: #f3f3f3;" required></td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>
                                <select id='gender' name="gender" required>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td><input type="number" name="age" placeholder="Age" style="background-color: #f3f3f3;" required></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="email" name="email" placeholder="Email" required></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="password" placeholder="Password" style="background-color: #f3f3f3;" required></td>
                        </tr>
                    </table>
                </form>
            </main>
        </div>
    </body>
</html>
