<!DOCTYPE html>
<HTML lang="en">
	<HEAD>
		<TITLE>Sign In</TITLE>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/login.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="../static/scripts/signin.js" defer></script>
		<script src="http://localhost:5000/signup/script/{{ id }}" defer></script>
	    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
	    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
	    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
	</HEAD>
	<BODY>
		<DIV id="login">			
			<FORM id="signin" action="http://localhost:5000/" method="POST">
				<H1>Sign In</H1>
				<INPUT id="email" type="email" name="email" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
				<INPUT id="pwd" type="password" name="password" placeholder="Password" required>
				<INPUT type="submit" id="signbtn" value="Sign In">
				<INPUT type="button" id="signbtn" value="Test Accounts">
				<P>Don't have an account? <A href="http://localhost:5000/signup" id="signup">Sign up</A></P>
			</FORM>
		</DIV>
		<div id="login-accounts" style="display: none;">
			<div id="login">
				<h1>Admin Account</h1>
				<input type="button" id="admin" value="Sign In">
			</div>
			<div id="login">
				<h1>Receptionist Account</h1>
				<input type="button" id="receptionist" value="Sign In">
			</div>
			<div id="login">
				<h1>Doctor Account</h1>
				<input type="button" id="doctor" value="Sign In">
			</div>
			<div id="login">
				<h1>Patient Account</h1>
				<input type="button" id="patient" value="Sign In">
			</div>
		</div>
	</BODY>
</HTML>
