<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/general-styles.css">
        <link rel="stylesheet" href="../static/styles/search.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../static/scripts/search_user.js"></script>
        <script src="../static/scripts/logout.js" defer></script>
        <script src="../static/scripts/hamburger.js" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="nav">
            <nav class="mobile-nav">
                <div id="menu-links">
                    <a href="http://127.0.0.1:5000/admin/schedule"><p>Schedule</p></a>
                    <a href="http://127.0.0.1:5000/admin/users"><p>User</p></a>
                    <a href="http://127.0.0.1:5000/admin/medical_records"><p>Medical Records</p></a>
                    <a href="http://127.0.0.1:5000/admin/appointments"><p>Appointments</p></a>
                    <button id="logout-btn2">Logout</button>
                </div>

                <a class="menu-icon">
                    <div>&#9776;</div>
                </a>
            </nav>
            <nav class="desktop">
                <img src="../static/images/icons-user.png" alt="">
                <h3>{{ position }}</h3>
                <a href="http://127.0.0.1:5000/admin/schedule"><p>Schedule</p></a>
                <a href="http://127.0.0.1:5000/admin/users"><p>User</p></a>
                <a href="http://127.0.0.1:5000/admin/medical_records"><p>Medical Records</p></a>
                <a href="http://127.0.0.1:5000/admin/appointments"><p>Appointments</p></a>
            </nav>
        </div>
        <div id="head">
            <header>
                <p id="user-info">{{ first_name }} {{ last_name }}&#9662;</p>
                <button id="logout-btn" style="display: none;">Logout</button>
            </header>
            <main>
                <h1>Users</h1>
                <div id="search">
                    <form class="example">
                        <input id="search_string" type="text" placeholder="Search..." name="search">
                        <button id="users"type="button"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div id="oval">
                    <p>Add User +</p>
                </div>
                <div id="table">
                    <table class="content-table">
                    <thead>
                        <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Position</th>
                        <th>Remove user</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.age }}</td>
                            <td>{{ user.gender }}</td>
                            <td>{{ user.position }}</td>
                            <td><img src="../static/images/delete.png" id='{{ user.id }}' style="margin: 0 auto;"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                </div>
            </main>
        </div>
    </body>
</html>
