<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/general-styles.css">
        <link rel="stylesheet" href="../static/styles/search.css">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if position == 'Admin' %}
            <script src="../static/scripts/create_user.js" defer></script>
            <script src="../static/scripts/search_user.js" defer></script>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        {% if position == 'Receptionist' %}
            <script src="../static/scripts/make_appointment.js"></script>
        {% endif %}
        {% if position == 'Patient' %}
            <script src="../static/scripts/make_appointment_2.js"></script>
        {% endif %}
        <script src="../static/scripts/hamburger.js" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="nav">
            <nav class="mobile-nav">
                <div id="menu-links">
                    {% if position != 'Patient' %}
                        <a href="https://www.healtheasehub.live/accounts/schedule"><p>Schedule</p></a>
                    {% endif %}
                    {% if position == 'Admin' %}
                        <a href="https://www.healtheasehub.live/accounts/users"><p>User</p></a>
                    {% endif %}
                    <a href="https://www.healtheasehub.live/accounts/medical_records"><p>Medical Records</p></a>
                    <a href="https://www.healtheasehub.live/accounts/appointments"><p>Appointments</p></a>
                    {% if position == 'Patient' %}
                        <a href="https://www.healtheasehub.live/accounts/users"><p>Make Appointment</p></a>
                    {% endif %}
                    {% if position == 'Receptionist' %}
                        <a href="https://www.healtheasehub.live/accounts/users"><p>Make Appointment</p></a>
                        <a href="https://www.healtheasehub.live/accounts/register_patient"><p>Register Patient</p></a>
                    {% endif %}
                    {% if position in ['Doctor'] %}
                        <a href="https://www.healtheasehub.live/accounts/consultations"><p>Consult</p></a>
                    {% endif %}
                    <a href="https://www.healtheasehub.live/logout" class="logout"><p>Logout</p></a>
                </div>

                <a class="menu-icon">
                    <div>&#9776;</div>
                </a>
            </nav>
            <nav class="desktop">
                <img src="../static/images/icons-user.png" alt="">
                <h3>{{ position }}</h3>
                {% if position != 'Patient' %}
                    <a href="https://www.healtheasehub.live/accounts/schedule"><p>Schedule</p></a>
                {% endif %}
                {% if position == 'Admin' %}
                    <a href="https://www.healtheasehub.live/accounts/users"><p>User</p></a>
                {% endif %}
                {% if position == 'Receptionist' %}
                    <a href="https://www.healtheasehub.live/accounts/users"><p>Make Appointment</p></a>
                    <a href="https://www.healtheasehub.live/accounts/register_patient"><p>Register Patient</p></a>
                {% endif %}
                {% if position == 'Doctor' or position == 'Admin' or position == 'Patient' %}
                    <a href="https://www.healtheasehub.live/accounts/medical_records"><p>Medical Records</p></a>
                {% endif %}
                <a href="https://www.healtheasehub.live/accounts/appointments"><p>Appointments</p></a>
                {% if position == 'Patient' %}
                    <a href="https://www.healtheasehub.live/accounts/users"><p>Make Appointment</p></a>
                {% endif %}
                {% if position in ['Doctor'] %}
                    <a href="https://www.healtheasehub.live/accounts/consultations"><p>Consultations</p></a>
                {% endif %}
            </nav>
        </div>
        <div id="head">
            <header>
                <p id="user-info">{{ first_name }} {{ last_name }}&#9662;</p>
                <a href="https://www.healtheasehub.live/logout" id="logout-btn" style="display: none;">Logout</a>
                <script defer>
                    document.getElementById('user-info').addEventListener('click', () => {
                        let logout = document.getElementById('logout-btn');
                        if (logout.style.display == 'none') {
                            logout.style.display = 'block';
                        } else {
                            logout.style.display = 'none';
                        }
                    })
                </script>
            </header>
            <main>
                {% if position == 'Admin' %}
                    <h1>Users</h1>
                {% endif %}
                {% if position == 'Receptionist' or position == 'Patient' %}
                    <h1>Make Appointment</h1>
                {% endif %}
                {% if position != 'Patient' %}
                    <div id="search">
                        <form class="example">
                            <input id="search_string" type="text" placeholder="Search..." name="search">
                            <button id="users"type="button"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                {% endif %}
                {% if position == 'Admin' %}
                    <div id="oval">
                        <p>Add User +</p>
                    </div>
                {% endif %}
                <div id="table">
                    {% if position == 'Admin' %}
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Position</th>
                                    <th>Remove user</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.age }}</td>
                                            <td>{{ user.gender }}</td>
                                            <td>{{ user.position }}</td>
                                            <td><img src="../static/images/delete.png" id='{{ user.id }}' style="margin: 0 auto;"></td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if position == 'Receptionist' %}
                        <table class="content-table" id="snd-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    {% if user.position == 'Patient' %}  
                                        <tr id="{{ user.id }}" class="user-app">
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.age }}</td>
                                            <td>{{ user.gender }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                {% if position == 'Receptionist' or position == 'Patient' %}
                    {% if position == 'Patient' %}
                        <div id="select-date" class="{{ id }}">
                    {% endif %}
                    {% if position == 'Receptionist' %}
                        <div style="display: none;" id="select-date">
                    {% endif %}
                        <div>
                            <table class="content-table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <select id="doctors">
                                                <option value="" disabled selected hidden>Choose a doctor</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="date" name="date" id="date" style="display: none; background-color: #f3f3f3;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select id="time" style="display: none;">
                                                <option value="" disabled selected hidden>Choose time</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="back-button" href="#" style="display: none; width: 30%; margin: 0 auto;">Submit</a>
                        </div>
                    </div>
                {% endif %} 
            </main>
        </div>
    </body>
</html>
